<!DOCTYPE html>
<html>
  <head>
    <title>Mr. Cocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% unless params[:action] == "home" %>
      <% if ['index','create'].include?(params[:action]) && params[:controller] == 'cocktails' %>
        <%= render 'shared/navbar_index', cocktail: @cocktail %>
      <% else %>
        <%= render 'shared/navbar'%>
      <% end %>
      <div class="container">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

  </body>
</html>
